---
import CartSummary from './CartSummary.astro';
---

<div
	class='h-20 flex items-center justify-between bg-primary shadow-sm sticky top-0 z-50'
>
	<!-- Center: Site Title -->
	<div class='m-4'>
		<a href='/' class='text-black font-reenie-beanie-regular text-5xl'
			>mack johnson</a
		>
	</div>

	<!-- Right - Small Screens: Cart | Hamburger Menu -->
	<div class='flex items-center justify-end gap-2 md:hidden mr-1'>
		<CartSummary />
		<div class='dropdown dropdown-end'>
			<button tabindex='0' role='button' class='btn btn-ghost hover:bg-accent'>
				<!-- Hamburger icon -->
				<svg
					xmlns='http://www.w3.org/2000/svg'
					class='h-5 w-5 stroke-black'
					fill='none'
					viewBox='0 0 24 24'
				>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						stroke-width='2'
						d='M4 6h16M4 12h8m-8 6h16'
					>
					</path>
				</svg>
			</button>
			<ul
				tabindex='0'
				class='menu menu-sm border-2 dropdown-content mt-3 mr-3 z-[1] p-2 shadow bg-accent rounded-box w-30 text-black text-base font-RockSalt'
			>
				<!-- Pages -->
				<li><a class='text-xl' href='/merch'>merch</a></li>
				<li><a class='text-xl' href='/music'>music</a></li>
			</ul>
		</div>
	</div>
	<!-- Right: Medium/Large Screens -->
	<div class='hidden sm:block md:hidden lg:block m-2'>
		<ul class='menu menu-horizontal gap-4 px-1 text-base font-RockSalt'>
			<li>
				<button class='btn btn-ghost hover:bg-accent'
					><a class='text-xl' href='/merch'>merch</a></button
				>
			</li>
			<li>
				<button class='btn btn-ghost hover:bg-accent'
					><a class='text-xl' href='/music'>music</a></button
				>
			</li>
			<li>
				<CartSummary />
			</li>
		</ul>
	</div>

	<!-- End -->
</div>
