---

---

<div class='relative hero overflow-hidden'>
	<video
		autoplay
		loop
		muted
		playsinline
		class='fixed inset-0 w-full h-full object-cover scale-115 z-[-1]'
	>
		<source src='/hero_video.mp4' type='video/mp4' />
		Your browser does not support the video tag.
	</video>
	<div
		class='fixed inset-0 z-10 flex flex-col gap-10 items-center justify-center text-white'
	>
		<a href='/music'>
			<img class='p-10' src='/logo_red.png' />
		</a>
		<!-- <div>
			<ul
				class='menu menu-horizontal gap-6 px-1 text-base font-RockSalt text-red-500'
			>
				<li>
					<button class='btn btn-ghost hover:bg-red-500'
						><a class='text-xl' href='/merch'>merch</a></button
					>
				</li>
				<li>
					<button class='btn btn-ghost hover:bg-red-500'
						><a class='text-xl' href='/music'>music</a></button
					>
				</li>
			</ul>
		</div> -->
	</div>
</div>
